:root {
    /* colours */
    --dark-brown: #352b27;
    --muted-green: #b5c5a8;

    /* font-sizes */
    --font-large: 40px;
    --font-normal: 14px;

    /* font-family */
    --font-family: "Libre Baskerville", serif;
}

::selection {
    color: var(--muted-green);
    background-color: var(--dark-brown);
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark-brown);
    font-family: var(--font-family);
    background-color: var(--muted-green);
}

a {
    padding-right: 20px;
    text-decoration: none;
    color: var(--dark-brown);
    font-size: var(--font-normal);
}

a:hover {
    text-decoration: underline;
}

.urls {
    padding-top: 10px;
    padding-left: 120px;
}

#mae-boittiaux {
    margin: 0;
    width: 272px;
    height: 32px;
    padding-top: 400px;
    padding-left: 120px;
}