:root {
    /* colours */
    --dark-brown: #352b27;
    --medium-brown: #b39984;

    --light-beige: #f6efd1;
    --medium-beige: #e7dec1;
    --dark-beige: #d6d0b2;

    --muted-blue: #758a8f;
    --muted-pink: #a48a91;
    --muted-green: #b5c5a8;
    --muted-purple: #988b95;
    --muted-yellow: #b8a986;

    /* font-sizes */
    --font-large: 42px;
    --font-medium: 24px;
    --font-normal: 14px;

    /* font-family */
    --font-family: "Courier Prime", monospace;
}

::selection {
    color: var(--muted-green);
    background-color: var(--dark-brown);
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark-brown);
    font-family: var(--font-family);
    background-color: var(--muted-green);
}

a {
    text-decoration: none;
    color: var(--dark-brown);
    font-size: var(--font-normal);
}

a:hover {
    text-decoration: underline;
}

.urls {
    width: 300px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 8px;
    border: 1px solid var(--dark-brown);
    background-color: var(--medium-beige);
}

#urls-header {
    width: 282px;
    height: 40px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid var(--dark-brown);
    background-color: var(--muted-green);
}

#urls-header-title {
    margin: 0;
    padding-top: 8px;
    padding-left: 8px;
    font-size: var(--font-medium);
}

.project-url {
    margin: auto;
    width: 200px;
    height: 20px;
    display: block;
    padding-top: 2px;
    padding-left: 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    padding-bottom: 2px;
    border: 1px solid var(--dark-brown);
    border-right: 2px solid var(--dark-brown);
    border-bottom: 2px solid var(--dark-brown);
}

#todo-list {
    border-left: 4px solid var(--muted-pink);
}

#offline-map {
    border-left: 4px solid var(--muted-blue);
}

#colour-palette {
    border-left: 4px solid var(--muted-yellow);
}

#mae-boittiaux {
    margin: 0;
    width: 272px;
    height: 32px;
    padding-top: 30px;
    padding-left: 30px;
}

#abstract-fishies {
    margin: 0;
    top: 100px;
    right: 20px;
    width: 288px;
    height: 288px;
    position: absolute;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--medium-brown);
}

footer {
    bottom: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    background-color: var(--medium-brown);
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

#github-url {
    top: 3px;
    right: 12px;
    padding-right: 0;
    position: absolute;
}