:root {
    /* colours */
    --cream: #fdf8e3;
    --beige: #e0daca;
    --brown: #807256;
    --muted-green: #b5c5a8;

    /* font-sizes */
    --font-large: 36px;
    --font-medium: 28px;
    --font-small: 14px;

    /* font-family */
    --font-family: "Courier Prime", monospace;
}

#github-url {
    top: 2px;
    right: 8px;
    padding-right: 0;
    position: absolute;
    color: var(--brown);
}

a {
    text-decoration: none;
    font-size: var(--font-small);
}

a:hover {
    text-decoration: underline;
}

footer {
    bottom: 0;
    width: 100%;
    height: 20px;
    position: absolute;
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--muted-green);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phone-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone {
    width: 400px;
    height: 600px;
    display: flex;
    border-radius: 110px;
    flex-direction: column;
    background: var(--cream);
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.1);
}

.status-bar {
    height: 30px;
    display: flex;
    margin-top: 30px;
    font-weight: bold;
    padding-left: 60px;
    color: var(--beige);
    align-items: center;
    padding-right: 60px;
    flex-direction: row;
    font-size: var(--font-medium);
    justify-content: space-between;
}

.time {
    padding-top: 4px;
}

.status-icon {
    width: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status-icon-image {
    height: 22px;
}

.title {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--brown);
    font-size: var(--font-large);
}

.app-grid {
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 40px;
    justify-content: space-between;
}

.app-icon {
    width: 98px;
    height: 98px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app-icon-image {
    width: 98px;
    height: 98px;
}